@page
@model IndexModel
@{
    ViewData["Title"] = "主页";
}
<!--#include file= "\Pages\Self\homework.html"-->
<div class="text-center">
    <br />
    <h4 style="font-family:FangSong">欢迎来到新世界</h4>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p><a href="https://github.com/ryankamanri" target="_blank" style="font-family:FangSong;text-decoration:none" >参见</a></p>

    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=1501715251&auto=1&height=66"></iframe>

    <br />


</div>
